body {
    h1, h3{
        font-weight: bold;
    }
}

.logo {
    width: 40px;
    animation: rotate 4s linear infinite;
    &:hover {
        filter: drop-shadow(0 0 1.2rem rgb(8, 210, 221));
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.overview {
  font-size: 0.9rem;
}

.robot {
    width: 60%;
    height: 60%;
}

.card {
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #000000;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.rating {
  color: #ffc107;
  font-size: 1.2rem;
}